/*!
	IdeaPress v2.0.1 (Wednesday, June 5, 2013) | ideapress.me/license 
*/

/* Import rules for GridView templates */
@import url('templates/normal.css');

.wpc-title-count {
    font-size: 11pt;
}


@media screen and (-ms-view-state: snapped) {    
    .wpc-list .wpc-item {
        height: 220px;
        width: 100%;
        -ms-grid-rows: 160px 60px;
    }

    .wpc-list .wpc-item .wpc-image-container .wpc-image{
        height:160px;
    }   

    .wpc-list .win-vertical .win-item {
        width: 100%;
    }
    .wpc-list .win-vertical .win-item .wpc-image-container .wpc-image {
        width: 100%;
    }
        .wpc-list .win-vertical .win-item {
        width: 100%;
    }
    .wpc-list .win-vertical .win-item .wpc-image-container .wpc-image {
        width: 100%;
    }
}
