/*!
	IdeaPress v2.0.1 (Wednesday, June 5, 2013) | ideapress.me/license 
*/

.wp-section .wp-list .win-horizontal .win-surface {
    margin-left:116px;
}

.resultsmessage {
    display: none;
    margin-left: 120px;
    margin-top: 36px;
    display: none;
}

.filterarea {
    display: none;
}

@media (min-width: 320px) and (max-width: 499px) {
    .wp-list .win-vertical .win-container {   
        margin-left:20px;     
    }
}