/*!
	IdeaPress v2.0.1 (Wednesday, June 5, 2013) | ideapress.me/license 
*/
.mp-module-0 .wpc-list .wpc-item {
    overflow: hidden;  
    display: -ms-grid;
    -ms-grid-columns: 1fr 100px;
    -ms-grid-rows: 100px;
    width: 460px;
    height: 100px;
}
.mp-module-0 .wpc-list .wpc-item .wpc-image-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.mp-module-0 .wpc-list .wpc-item .wpc-text-section {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    padding: 8px 12px 8px;
}
.mp-module-0 .wpc-list .wpc-item h3 {
    padding-top: 10px;
    font-size: 160%;
}

.mp-module-0 .wpc-list .wpc-item .wpc-image-container .wpc-image{
    height:100px;
    width:100px;
    background-position: center;
    background-size:cover;
}

.wpc-list .wpc-item {
    overflow: hidden;  
    display: -ms-grid;
    -ms-grid-columns: 1fr 100px;
    -ms-grid-rows: 100px;
    width: 440px;
    height: 100px;
}

.wpc-list .wpc-item .wpc-image-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.wpc-list .wpc-item .wpc-text-section {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    padding: 8px 12px 8px;
}
.wpc-list .wpc-item h3 {
    text-overflow: clip;
    word-wrap: break-word;
}
.wpc-list .wpc-item h5 {
    text-overflow: clip;
    word-wrap: break-word;
}


.wpc-list .wpc-item .wpc-image-container .wpc-image{
    height:100px;
    width:100px;
    background-position: center;
    background-size:cover;
}

@media (min-width: 320px) and (max-width: 499px) {
    .wpc-list .wpc-item {
        overflow: hidden;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 160px 60px;
        height: 220px;
    }

    .wpc-list .wpc-item .wpc-image-container {
        overflow: hidden;
        position: relative;
        -ms-grid-row: 1;        
        -ms-grid-column: 1;
    }

    .wpc-list .wpc-item .wpc-text-section {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        padding: 8px 12px 8px;
    }
}
