
/* colors */
h1, h2, h3, h4, h5, h6, .mp-color-header {
    color: #fff;
}

body, .mp-color-text {
    color:#fff;
}
.mp-color-title, progress.win-ring
{
    color: #f4389d;
}

.mp-color-link, .a, a:link {
    color: #888;
}

.mp-color-subtitle, a:visited, a:active, article a:hover {
    color: #888;
}

body, .mp-bg-main {
    background-color:#f598b0 !important;
}

.mp-bg-overlay {
    background-color:#fff;
}

.win-backbutton {
    border-color: #f4389d;
    color: #f4389d;
}

.win-backbutton:hover {
    background-color:#fff;
}

.win-container:hover {
    outline-color: transparent;
}

.win-listview .win-item {
    border-radius: 20px;   
    border: 4px solid #fad0e0;
}

.win-listview .win-container {
    background-color: transparent !important;
}

/*#766128*/
/*#f4389d*/
/*#f598b0*/
/*#fad0e0*/