/* colors */
h1, h2, h3, h4, h5, h6, .mp-color-header {
    color: #fff;
}

body, .mp-color-text {
    color:#fff;
}
.mp-color-title, progress.win-ring
{
    color: #3bb1ff;
    border-color: #3bb1ff;
}

.mp-color-link, .a, a:link {
    color: #3bb1ff;
}

.mp-color-subtitle, a:visited, a:active, article a:hover {
    color: #ccc;
}

body, .mp-bg-main, .mp-bg-plain {
    background-color:#000;
}

.mp-bg-overlay {
    background-color:#666;
}

header .win-backbutton {
    border-color: #fff;
    color: #fff;
}

header .win-backbutton:hover {
    background-color:#666;
}

.win-container:hover {
    outline-color: #3bb1ff;
}
